@media screen and (min-width: 0) {
    .cabecalho {
        padding: 1.875rem 2rem;
    }
    .conteudo {
        padding: 0 2rem;
    }
    .rodape {
        padding: 2.1875rem 2.15rem;
    }
    .cabecalho__logo {
        height: 1.34375rem;
    }
    #menu__icone-pesquisa,
    #menu__icone-contato,
    #menu__icone-carrinho {
        height: 1.011875rem;
    }
    .promocao {
        padding: 1.3125rem 0;
    }
    .promocao h1 {
        font-size: .875rem;
    }
    p {
        font-size: .75rem;
    }
    b {
        font-size: .90rem;
    }
    .produtos {
        margin: 1.75rem 0 5rem;
    }
    .produtos__itens {
        grid-template-columns: 50% 50%;
        grid-gap: 1.5rem 3rem;
        width: calc(100% - 3rem);
    }
    .produtos__card:nth-child(1),
    .produtos__card:nth-child(2),
    .produtos__card:nth-child(3),
    .produtos__card:nth-child(4),
    .produtos__card:nth-child(5) {
        grid-column: 1 / 1;
    }
    .produtos__card:nth-child(1) {
        grid-row: 1 / 1;
    }
    .produtos__card:nth-child(2) {
        grid-row: 2 / 2;
    }
    .produtos__card:nth-child(3) {
        grid-row: 3 / 3;
    }
    .produtos__card:nth-child(4) {
        grid-row: 4 / 4;
    }
    .produtos__card:nth-child(5) {
        grid-row: 5 / 5;
    }
    .produtos__imagem {
        width: 100%;
    }
    .rodape__contato {
        margin-bottom: 3.375rem;
    }
    .rodape__contato li {
        font-size: .875rem;
        margin-bottom: .8125rem;
    }
    .rodape__form___legend {
        margin-bottom: 1rem;
    }
    #email,
    #submit {
        border-radius: 3px;
        font-size: 1rem;
    }
    #submit {
        padding: .75rem 0;
    }
    .rodape__container-2 {
        margin-top: 1.6875rem;
    }
    #instagram img,
    #facebook img,
    #mastercard img {
        height: 1.4375rem;
    }
    #paypal {
        height: 1.125rem;
    }
    #visa {
        height: .8rem;
    }
    .rodape__rede-sociais___link {
        margin-right: .6rem;
    }
    .rodape__bancos___link {
        margin-left: .75rem;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 2rem 4.375rem;
    }
    .conteudo {
        padding: 0 4.375rem;
    }
    .rodape {
        padding: 2.5rem 4.375rem 3rem;
    }
    .cabecalho__logo {
        height: 1.9375rem;
    }
    #menu__icone-pesquisa,
    #menu__icone-contato,
    #menu__icone-carrinho {
        height: 1.5rem;
    }
    .promocao {
        padding: 2.0625rem 0;
    }
    .promocao h1 {
        font-size: 1.25rem;
    }
    p {
        font-size: 1rem;
    } 
    b {
        font-size: 1.25rem;
    }
    .produtos {
        margin: 3.5625rem 0 7.25rem;
    }
    .produtos__itens {
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-gap: 3rem 3rem;
    }
    .produtos__card:nth-child(1),
    .produtos__card:nth-child(2),
    .produtos__card:nth-child(4),
    .produtos__card:nth-child(5) {
        grid-column: 1 / 1;
    }
    .produtos__card:nth-child(2) {
        grid-column: 3 / 3;
        grid-row: 1 / 1;
    }
    .produtos__card:nth-child(3) {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }
    .produtos__card:nth-child(4) {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }
    .produtos__card:nth-child(5) {
        grid-column: 3 / 3;
        grid-row: 3 / 3;
    }
    .produtos__card:nth-child(9) {
        grid-column: 2 / 2;
        grid-row: 3 / 3;
    }
    .produtos__imagem {
        width: 80%;
    }
    .rodape__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .rodape__contato {
        margin-bottom: 3.125rem;
    }
    .rodape__contato li {
        font-size: 1.25rem;
        margin-bottom: .625rem;
    }
    .rodape__form___legend {
        font-size: 1.25rem;
        margin-bottom: 1.15rem;
    }
    .rodape__container-2 {
        margin-top: 2.6875rem;
    }
    #instagram img,
    #facebook img {
        height: 2.09375rem;
    }
    #mastercard {
        height: 2.73125rem;
    }
    #paypal {
        height: 2.0625rem;
    } 
    #visa {
        height: 1.1375rem;
    }
    .rodape__rede-sociais___link {
        margin-right: 1.2rem;
    }
    .rodape__bancos___link {
        margin-left: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .produtos__itens {
        grid-gap: 3rem 5rem;
        width: calc(100% - 5rem);
    }
    .produtos__imagem {
        width: 70%;
    }
    .rodape__form {
        width: 40%;
    }
    .rodape__form___fieldset {
        display: flex;
        margin-bottom: 3.125rem;
    }
    #email {
        border-radius: 3px 0px 0px 3px;
    }
    #submit {
        border-radius: 0px 3px 3px 0px;
        padding: 0;
        width: 150px;
    }
    #email,
    #submit {
        font-size: 1.25rem;
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .produtos__itens {
        grid-gap: 3rem 10rem;
        width: calc(100% - 10rem);
    }
}