.rodape {
    background-color: var(--rodape);
}
.rodape__container {
    border-bottom: .2px solid var(--border-bottom );
}
.rodape__contato li {
    user-select: none;
}
.rodape__container-2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.rodape__bancos {
    align-items: center;
    display: flex;
}
.rodape__bancos___link:first-child {
    margin-left: 0;
}