@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --verde: #5ca720;
    --cinza-medio: #a8a4a4;
    
    --border-bottom: #dcdcdc;
    --border-email: #d9d9d9;
    --hover-buttom: #7cda2f;
    --rodape: #f9f9f9;

    --lato: Lato, Verdana, sans-serif;
}
* {
    font-family: var(--lato);
}
a {
    text-decoration: none;
    color: var(--preto);
}
a:hover {
    color: #7e7e7e;
 }
p {
    font-weight: 700;
    user-select: none;
}
b {
    color: var(--verde);
}
.banner img {
    width: 100vw;
}
#email {
    border: 0.395833px solid var(--border-email);
    color: var(--cinza-medio);
    height: 20px;
    margin-bottom: 1rem;
    padding: 10px;
    width: calc(100% - 20px);
}
#email:focus, textarea:focus {
    outline: none;
}
#submit {
    background: var(--verde);
    border: none;
    color: var(--branco);
    margin-bottom: 2.625rem;
    text-align: center;
    width: 100%;
}
#submit:hover {
    background-color: var(--hover-buttom);
}